@model KP_2017_itog.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Добавление Ресторана";
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Добавление Ресторана</h2>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("AddRestaurant", "Restaurant", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            <label>Название ресторана</label>
                            <div>
                                <input type="text" class="form-control" name="Restaurant_Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Страна</label><br />
                            <select id="country" class="selectpicker" name="Country">
                                @foreach (var country in Model.Country)
                                {
                                    <option value="@country.Country_ID">@country.Country_Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Город</label><br />
                            <select class="selectpicker" name="City_ID">
                                @foreach (var city in Model.City)
                                {
                                    <option value="@city.City_ID">@city.City_Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Тип кухни</label><br />
                            <select class="selectpicker" name="TypeKitchen">
                                @foreach (var type in Model.TypeKitchen)
                                {
                                    <option value="@type.Kitchen_Type_Code">@type.Kitchen_Type_Description</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Адрес</label>
                            <div>
                                <input type="text" class="form-control" name="Addresses" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Часы работы</label>
                            <div>
                                <input type="text" class="form-control" name="Opening_Hours" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            <div>
                                <input type="text" class="form-control" name="Restaurant_Description" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Другие детали</label>
                            <div>
                                <input type="text" class="form-control" name="Other_Details" />
                            </div>
                        </div>
                        <div>
                            <div>
                                <input type="submit" class="btn btn-primary btn-block" value="Зарегистрировать" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>
@*<script>
    $('#country').on('change', function () {
        console.log(this.value);
    });
</script>*@

@*@section scripts
{
    <script type="text/javascript">

        var button = document.getElementById('button');
        button.addEventListener('click', function () {
            var comment = document.getElementById('comment').value.replace(/<[^>]+>/g, '');
            var wallId = document.getElementById('button').getAttribute('wallId');
            console.log(wallId);
            if (comment === '') {
                return false;
            }
            AddComment(wallId, comment);
        });

        function GetCity(id, city) {

            $.ajax({
                type: "POST",
                url: "/Restaurant/AddComment",
                data: { comment: comment, wallId: id },
                success: function (data) {
                    location.reload();
                }
            })
        }
    </script>
}*@