@model KP_2017_itog.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "Выбрать ресторан";
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="~/Scripts/CreateRestaurant.js"></script>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Выбор ресторана</h2>
            </div>

            <div class="panel-body">
                
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Страна</label><br />
                        <select id="country" class="selectpicker" name="Country">
                            @foreach (var country in Model.Country)
                            {
                                <option value="@country.Country_ID">@country.Country_Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Город</label><br />
                        <select class="selectpicker" name="City_ID">
                            @foreach (var city in Model.City)
                            {
                                <option value="@city.City_ID">@city.City_Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Тип кухни</label><br />
                        <select class="selectpicker" name="TypeKitchen">
                            @foreach (var type in Model.TypeKitchen)
                            {
                                <option value="@type.Kitchen_Type_Code">@type.Kitchen_Type_Description</option>
                            }
                        </select>
                    </div>
                <div>
                    <div>
@Html.ActionLink("button", "GetChoiceOfRestaurant", "Restaurant")
                        <input type="submit" name=" button" class="btn btn-primary btn-block" value="Поиск" />
                    </div>
                </div></div>
        </div>
    </div>


</div>
