@model IEnumerable<KP_2017_itog.Models.Restaurants>
@{
    ViewBag.Title = "GetAllRestaurants";
}
<meta charset="utf-8" />
<h2>Список рестаранов</h2>

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12 well">
            @Html.HiddenFor(model => item.Restaurant_ID)
            <p>
                <h3>Название: @Html.ActionLink(item.Restaurant_Name, "GetInfoAboutRestaurant", "Restaurant", new { id = item.Restaurant_ID }, null) </h3>
                <h4>Адрес: @Html.DisplayFor(modelItem => item.Addresses)</h4>
                Описание: @Html.DisplayFor(modelItem => item.Restaurant_Description)<br>
                Часы работы: @Html.DisplayFor(modelItem => item.Opening_Hours)<br>
                Другое: @Html.DisplayFor(modelItem => item.Other_Details)<br>

            @*<p>
                @Html.Partial("_LoginPartial")
                <div class="panel panel-primary">
                    <div class="page">
                        Количество комментариев: @Html.DisplayFor(modelItem => item.)
                    </div>
                </div>
            </p>*@
        </div>
        

        @if (User.Identity.Name.StartsWith("Admin"))
                {
            <p>
                @Html.ActionLink("Изменить", "EditRestaurant", new { id = item.Restaurant_ID }) |
                @Html.ActionLink("Удалить", "DeleteRestaurant", new { id = item.Restaurant_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
            </p>
        }


    </div>
}

