@model KP_2017_itog.Models.Restaurants

<meta charset="utf-8" />
<h2>Ресторан </h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}

<div class="row">
    <div class="col-md-12 well">
        @Html.HiddenFor(model => model.Restaurant_ID)
        <p>
            <h3>Название:@Html.DisplayFor(model => model.Restaurant_Name) </h3>
            <h4>Адрес: @Html.DisplayFor(model => model.Addresses)</h4>
            Описание: @Html.DisplayFor(model => model.Restaurant_Description)<br>
            Часы работы: @Html.DisplayFor(model => model.Opening_Hours)<br>
            Другое: @Html.DisplayFor(model => model.Other_Details)<br>
            Тип ресторана: @Html.DisplayFor(model => model.TypeKitchen)<br>
            Количество звезд Мишлен: @Html.DisplayFor(model => model.Star)<br>
            <div>
                 <button class="btn btn-primary btn-block" onclick="location.href='@Url.Action("GetComment", "Comment",  new { id = Model.Restaurant_ID }, null)';return false;">Просмотр комментариев</button>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <span>Новый коментарий</span><br>
                <textarea id="CommentText" rows="5" class="form-control"></textarea><br>
                <button class="btn btn-primary" id="button" restaurantId="@Model.Restaurant_ID">Добавить</button>
            }
            <div class="comments">

                <div>
                    <div class="comment">
                        <div class="comment-header">
                            <div class="comment-body">
                                @Html.DisplayFor(model => model.CommentText);
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        var button = document.getElementById('button');
        button.addEventListener('click', function () {
            var CommentText = document.getElementById('CommentText').value.replace(/<[^>]+>/g, '');
            var restaurantId = document.getElementById('button').getAttribute('restaurantId');
            console.log(restaurantId);
            if (CommentText === '') {
                return false;
            }
            AddComment(restaurantId, CommentText);
        });

        function AddComment(Visitor_Comment_ID, CommentText) {

            $.ajax({
                type: "POST",
                url: "/Comment/AddComment",
                data: { model: CommentText, restaurantId: Visitor_Comment_ID },
                success: function (data) {
                    location.reload();
                }
            })
        }
    </script>
}
